venv/
dist/
nohup.out
*.egg-info

*.pyc
__pycache__/

temp/
results/

fig.png

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
*.blg
*.bbl

*.profile

doctrees/
latex/
build/
Makefile
.buildinfo
_sources

*.swp
